<h1>Index de nos appliances</h1>

<% @appliances.each do |appliance| %>
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1512594282804-b5f400408c9d" />
  <div class="card-trip-infos">
    <div>
      <h2><%= appliance.name %></h2>
      <p><%= appliance.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= appliance.price %> €</h2>
  </div>
</div>
<% end %>
