

<div class="hero-image">
  <div class="hero-text">
    <h1>Presto Kitchen</h1>
    <h4>Rent, cook, enjoy!</h4>
    <%= link_to 'Browse appliances', appliances_path, class: "nav-link" %>
  </div>
</div>
