<div class="container mt-5">
  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Titre de la carte 1</h5>
          <p class="card-text">Voici un petit texte descriptif pour la première carte.</p>
          <a href="#" class="btn btn-primary">Cliquer ici</a>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">Titre de la carte 2</h5>
          <p class="card-text">Voici un petit texte descriptif pour la deuxième carte.</p>
          <a href="#" class="btn btn-primary">Cliquer ici</a>
        </div>
      </div>
    </div>
  </div>
</div>
