<div class="p-5 text-center bg-image rounded-3" style="background-image: url('https://beautifulbydrew.com/cdn/shop/files/edit_BTFL_Hydrangea_EditorialColourLaunch_05_16x9_7ea6ea6c-65e5-4239-901a-d19d7ba67251_3024x.jpg?v=1738939222'); height: 600px; background-size: cover;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div>
      <h1 class="mb-3" style="color: #01497C">Presto Kitchen</h1>
      <h4 class="mb-3" style="color: #01497C">Rent, cook, enjoy!</h4>
      <a data-mdb-ripple-init class="btn btn-primary" href="#!" role="button">Browse appliances</a>
    </div>
  </div>
</div>
