<div class="container my-3">

  <h1 class="text-center ">My bookings</h1>

      <% @appliances.each do |appliance| %>
      <div class="card-product mb-3">

        <% if appliance.photo.attached? %>
          <%= cl_image_tag(appliance.photo.key) %>
        <% else %>
          <%= image_tag("default_appliance.jpg") %>
        <% end %>

  <div class="card-product-infos">
    <p><%= appliance.name %><p>
    <p><%= appliance.description %><p>

  </div>


</div>
<% end %>
  </div>

</div>
