h1 {
  font-size: calc(3rem + 2vw);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("default_appliance.jpg");
  height: calc(100svh - 80px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 2px #01497C;
}

.hero-link {
  font-size: calc(1.5rem + 1vw);
  text-decoration: none;
  font-weight: lighter!important;
  color: white;
  text-shadow: 1px 1px 2px #01497C;
  border: white solid 2px;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.hero-link:hover {
  font-size: calc(1.7rem + 1vw);
}
