#navbar {
  width: 100%;
  height: 40%;
  display: inline-block;
  padding-inline: 40px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  // position: sticky;
  // top: 0;
  // z-index: 1000
}

.nav-item {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  text-align: center;
  align-items: center;
}

.nav-link:hover {
  color: #01497C !important;
  // font-size: 15px;
}

#brand {
  font-size: 35px;
  color: #01497C !important;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
}


.form-control {
  font-size: 14px;
  width: 250px;
  height: 40px;
}


.form .me-2 {
  margin-right: 10px;
}
